/**************************/
/*	 VARIABLES CSS        */
/**************************/
:root {
	--color_cuerpo_pagina: #F9F9F9;
	--tamaño_parrafo: 1em;
	--tamaño_parrafo_foot: .9em;
	--tamaño_header_description: 1.3em;
	--fondo_header_description: rgba(73, 115, 136, 1);
	--tamaño_h1: 2em;
	--tamaño_h2: 1.5em;
	--color_navbar_fondo: #0EA1FD;
	--color_head: #fff;
	--fondo_promos: #578793;
	--color_foot: #000;
	--fondo_foot: #F1F1F1;
	--color_foot_copyright: rgba(255, 255, 255, .9); 
	--fondo_foot_copyright: #6997AF;
}

/***************************/
/*	 ESTILOS GENERALES     */
/***************************/

body {
	font-family: 'MyriadPro', sans-serif;
	font-style: normal;
	font-weight: normal;
	background: var(--color_cuerpo_pagina);
}

.h1_size {
    font-size: var(--tamaño_h1);
}

p {
    font-size: var(--tamaño_parrafo);
}


/*******************************************/
/*	 BENEFICIOS ADMINISTRACIÓN Y CONTROL   */
/*******************************************/

.admin, 
.control {
	margin-top: 6em;
}

.control {
	padding-bottom: 100px;
}

.admin__section, 
.admin__info,
.control__section,
.control__info {
	padding: 0;
	margin: 0;
}

.admin__info,
.control__info {
	padding: 0 1em;
}

.admin__title,
.control__title {
	font-size: 1rem;
	font-weight: bold;
	padding-top: 2.5em;
	padding-bottom: 1.5em;
	line-height: 1.8;
}

.admin__subtitle,
.control__subtitle {
	font-size: 1rem;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: 1.5em;
	line-height: 1.8;
}

.control__subtitle {
	padding-top: 1.2em;
	padding-bottom: 0em;
}

.admin__subtitle ~ p,
.control__subtitle ~ p,
.otros__control > li {
	font-size: 1em;
	line-height: 2.3;
	color: rgba(0, 0, 0, .7);
}

.otros__control > li {
	padding-top: 2em;
}



/**************************/
/*	 MEDIA QUERIES    	  */
/**************************/

@media (min-width: 376px) {
	.admin__info,
	.control__info {
		padding: 0 2em;
	}

	.admin__section__img,
	.control__section__img {
		width: 100%;
		height: 200px;
	}
	.admin__subtitle,
	.control__subtitle{
		font-size: 1.1rem;
	}
}

@media (min-width: 626px) {
	.admin__section__img,
	.control__section__img {
		width: 100%;
		height: 300px;
	}

	.admin__title,
	.control__title {
		font-size: 1.1em;
	}
	
	.admin__subtitle ~ p,
	.control__subtitle ~ p,
	.otros__control > li {
		font-size: 1.1em;
	}
}

@media (min-width: 768px) {	
	.benefits__header {
		background: url("../../img/beneficio/beneficios-escritorio-1.png") no-repeat center top;
		background-size: 100% 100%;
    	height: 70vh;
	}
	
		.admin__section__img,
		.control__section__img {
			height: 400px;
		}

	.admin__title,
	.control__title {
		font-size: var(--tamaño_h1);
		padding-bottom: .8em;
		line-height: normal;
	}

	.admin__subtitle,
	.control__subtitle {
		padding-bottom: .5em;
		line-height: normal;
	}
	
	.admin__subtitle ~ p,
	.control__subtitle ~ p,
	.otros__control > li {
		line-height: normal;
	}

	.otros__control > li {
		padding-top: 1.4em;
	}
}


@media (min-width: 992px) {
	.admin__section,
	.control__section {
		padding: 0 2.5em;
	}

	.admin__info {
		padding-right: 90px;
	}

	.control {
		margin-top: 4em;
	}

	.control__info {
		padding-right: 35px;
	}

	.admin__section__img {
		height: 65%;
	}
	
	.control__section {
		padding-right: 92px;
	}

	.control__section__img {
		height: 60%;
	}
	
}


@media (min-width: 1140px) {
	.admin__section__img {
		height: 75%;
		}

	.control__section__img {
		height: 50%;
	}

	.control__info {
		padding-right: 60px;
	}
}


