.footer {
	background: #2F2F2F;
}

.foot_p {
	color: #FFFFFF
}

.foot_conntact_title,
.foot_ubication_title,
.foot_legal_title {
	color: #00E7AD;
}

.foot_contact_subtitle1,
.foot_contact_subtitle2 {
	color: #4EFCFF;
}