body {
    margin-top: calc(56px + 10px);
}

.services__header {
    display: flex;
    margin: 0 auto 1.4em;
}
.services__title{
    display: inline-block;
    margin: 0;
}
.breadcrumb__nav{
    display: flex;
    list-style-type: none;
}
.breadcrumb__item{
    padding: 0;
}
.breadcrumb__item:not(:last-child)::after {
    content: '>';
    padding: 0 8px;
}
.services__main {
    padding: 0;
    margin: 0 auto;
}
.list-group {
    list-style-type: none;
}
.services__list,
.services__content{
    max-height: 75vh;
    overflow-y: auto;
}
.list-group.fade {
    display: none;
}
.list-group.show{
    display: flex;
}