
/**************************/
/*	 VARIABLES CSS        */
/**************************/
:root {
	--encabezados_h2: 1.6em;
	--encabezados_h3: 1.1em;
	--fondo_foot: #2F2F2F;
	--color_title_foot:  #00E7AD;
	--color_subtitle_foot: #4EFCFF;
	--color_navbar_fondo: #0EA1FD;
	--color_p_foot: #fff; 
	--tamaño_parrafo: 1em;
}

/**************************/
/*	  ESTILOS IMG-HEADER 	  */
/**************************/

.main_header_img {
    background: url("../../img/index/header-index-1.jpg"); 
    background-attachment: fixed !important;
    background-size: cover;
    height: 100vh;
	padding: 0;
}

.header__main__subtitles {
	margin: 0 auto; 
	width: 95%;
	border-bottom: 2px solid #82A2BC;
}


.main__header__subtitle1 > a {
	color: var(--color_p_foot);
}

.main__header__subtitle1 > a:hover {
	text-decoration: none;
}

.main__header__subtitle1,
.main__header__subtitle2 {
 	padding: 0;
 	color: var(--color_p_foot);
 	padding-top: .8em; 
}

.main__header__subtitle1 {
	font-size: 1.8em;
	padding-left: 1.5em;

}

.main__header__subtitle2 {
	font-size: 1.5em;
	padding-right: 1.5em;
	padding-top: 1.1em; 
}


/**************************/
/*	 ESTILOS FOOTER       */
/**************************/
.footer {
	background: var(--fondo_foot);
	padding-top: 80px;
}

.foot_conntact_title,
.foot_ubication_title,
.foot_legal_title {
	color: var(--color_title_foot);
	font-size: var(--encabezados_h2);
	padding-bottom: .8em;
}

.foot_contact_subtitle1,
.foot_contact_subtitle2 {
	color: var(--color_subtitle_foot);
	font-size: var(--encabezados_h3);
	padding-bottom: .4em;
}

.foot_p {
	color: var(--color_p_foot);
	font-size: var(--tamaño_parrafo);
}

.foot_copyright {
	padding-top: 40px;
	width: 100%;
}

/*:::: NAVBAR STYLES ::::*/

#logo{
    width: 125px;
    height: 40px;
}

.navbar {
	background: var(--color_navbar_fondo);
}

.navbar-subheader {
	display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 10px;
}

.header-img-1 {
	width: 100%;
	
}









