/***************************/
/*	 ESTILOS GENERALES     */
/***************************/
.h1_size {
    font-size: var(--tamaño_h1);
}

p {
    font-size: var(--tamaño_parrafo);
}

/*:::: NOSOTROS IMG PRINCIPAL ::::*/

.main_img_nosotros {
    background: url(../../img/nosotros/new-mob-1.svg) no-repeat;
    background-size: cover;
    height: 210px;
    width: 101%;
    margin-left: 0px;
    margin-top: 65px;
    margin-top: 0px;


}

/*:::: SECCION PRIMER CONTENIDO DE NOSOTROS 1 ::::*/

.title1_nosotros{
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;

}

.contenido1_nosotros{
    line-height: 2.5;
}

.contenido1_principios{
    line-height: 2.5;
}

.contenido1_valores{
    line-height: 2.5;
}




/*:::: SECCION PRINCIPIOS DE NEGOCIO  NOSOTROS ::::*/

.img_segundo_contenido {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 402px;
    width: 101%;
    display: none;
}
.img_segundo_contenido1 {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 402px;
    width: 100%;
    display: flex;
}

.principios_contenido {
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;
}

/*:::: SECCION VALORES CORPORATIVOS NOSOTROS ::::*/

.img1_valores {
    background: url(../../img/nosotros/nosotros-escritorio-3.png) no-repeat;
    background-size: cover;
    height: 390px;
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.valores_contenido {
    width: 82%;
    padding: 80px 0 150px 0;
}









/***************************/
 /*	 QUERY BREAK POINT     */
/***************************/


@media only screen and (min-width: 768px){ 


.contenido1_nosotros{
    line-height: 1.5;
}

.contenido1_principios{
    line-height: 1.5;
}




/*:::: NOSOTROS IMG PRINCIPAL ::::*/


.main_img_nosotros {
    background: url(../../img/nosotros/nosotros-escritorio-1.png) no-repeat center top;
    background-size: cover;
    height: 535px;
    width: 101%;
    display: flex;
}

/*:::: SECCION PRIMER CONTENIDO DE NOSOTROS 1 ::::*/

.title1_nosotros{
    width: 95%;
    padding: 80px 0 150px 0;
    margin-left: 50px;

}

/*:::: SECCION PRINCIPIOS DE NEGOCIO  NOSOTROS ::::*/


.img_segundo_contenido {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 80%;
    width: 85%;
    margin-left: 54px;
    margin-top: 60px;
    display: flex;
}



.principios_contenido {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}


/*:::: SECCION VALORES CORPORATIVOS NOSOTROS ::::*/

.valores_contenido{

    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-top: 100px;
    
}

.img_valores {
    background: url(../../img/nosotros/nosotros-escritorio-3.png) no-repeat;
    background-size: cover;
    height: 383px;
    width: 75%;
    margin-left: 113px;
    margin-top: 60px;
    display: flex;
}


}