/***************************/
/*	 ESTILOS GENERALES     */
/***************************/
.h1_size {
    font-size: var(--tamaño_h1);
}

p {
    font-size: var(--tamaño_parrafo);
}

/*:::: NOSOTROS IMG PRINCIPAL ::::*/

.main_img_nosotros {
    background: url(../../img/nosotros/new-mob-1.svg) no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
    margin-left: 0px;
}



/*:::: SECCION PRIMER CONTENIDO DE NOSOTROS 1 ::::*/

.title1_nosotros{
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;

}

.contenido1_nosotros{
    line-height: 2.5;
}

.contenido1_principios{
    line-height: 2.5;
}

.contenido1_valores{
    line-height: 2.5;
}




/*:::: SECCION PRINCIPIOS DE NEGOCIO  NOSOTROS ::::*/

.img_segundo_contenido {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 402px;
    width: 100%;
    display: none;
}
.img_segundo_contenido1 {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 402px;
    width: 100%;
    display: flex;
}

.principios_contenido {
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;
}

/*:::: SECCION VALORES CORPORATIVOS NOSOTROS ::::*/

.img1_valores {
    background: url(../../img/nosotros/nosotros-escritorio-3.png) no-repeat;
    background-size: cover;
    height: 390px;
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.valores_contenido {
    width: 82%;
    padding: 80px 0 150px 0;
}

/***************************/
 /*	 QUERY BREAK POINT     */
/***************************/


@media only screen and (min-width: 768px){ 


.contenido1_nosotros{
    line-height: 1.5;
}

.contenido1_principios{
    line-height: 1.5;
}
}


/******************************/
/*	 SECCIÓN ESTILOS FOOTER   */
/******************************/

.footer {
	background: var(--fondo_foot);
	color: var(--color_foot);
	padding-top: 6em;
}

.contact__footer,
.ubication__footer,
.legal__footer {
	padding-left: 4em;
	padding-bottom: 3em;
}


.contact__foot__title,
.ubication__foot__title,
.legal__foot__title {
	font-size: var(--tamaño_h2);
	padding: 1em 0 1.7em 0;
}

.contact__foot__title {
	padding-top: .7em;
}

.contact__foot__description  p,
.ubication__foot__description  p,
.legal__foot__description  p {
	font-size: var(--tamaño_parrafo_foot);
	color: rgba(0, 0, 0, .6);
	line-height: .8em;
	text-align: left;
}

.contact__foot__description  .contact__foot__subtitle {
	color: #000;
	font-size: 1em;
	line-height: .9em;
	padding-bottom: .3em;
}


.foot_copyright {
	background: var(--fondo_foot_copyright);
	color:  var(--color_foot_copyright);
	font-size: 1em;
	height: 80px;
	padding-top: 2em;
	width: 100%;
}


/*:::: NOSOTROS IMG PRINCIPAL ::::*/


.main_img_nosotros {
    background: url(../../img/nosotros/nosotros-escritorio-1.png) no-repeat center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 550px;
}

/*:::: SECCION PRIMER CONTENIDO DE NOSOTROS 1 ::::*/

.title1_nosotros{
    width: 95%;
    padding: 80px 0 150px 0;
    margin-left: 50px;

}

/*:::: SECCION PRINCIPIOS DE NEGOCIO  NOSOTROS ::::*/


.img_segundo_contenido {
    background: url(../../img/nosotros/nosotros-escritorio-2.png) no-repeat;
    background-size: cover;
    height: 80%;
    width: 85%;
    margin-left: 54px;
    margin-top: 60px;
    display: flex;
}



.principios_contenido {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}


/*:::: SECCION VALORES CORPORATIVOS NOSOTROS ::::*/

.valores_contenido{

    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-top: 100px;
    
}

.img_valores {
    background: url(../../img/nosotros/nosotros-escritorio-3.png) no-repeat;
    background-size: cover;
    height: 383px;
    width: 75%;
    margin-left: 113px;
    margin-top: 60px;
    display: flex;
}




    
}

