/***************************/
/*	 ESTILOS GENERALES     */
/***************************/

.h1_size {
    font-size: var(--tamaño_h1);
}

p {
    font-size: var(--tamaño_parrafo);
}






/*:::: CONTACTENOS IMG PRINCIPAL ::::*/
.main_img_contactenos {
    background: url(../../img/contactenos/mobil-contacto.svg) !important;
    background-size: cover !important;
    height: 149px;
    width: 100%;
    margin-top: 155px;
}



/**************************/
/*	 MEDIA QUERIES    	  */
/**************************/

@media (min-width: 376px) {

/*:::: CONTACTENOS IMG PRINCIPAL ::::*/
.main_img_contactenos {
    background: url(../../img/contactenos/mobil-contacto.svg) no-repeat !important;
    background-size: cover !important;
    height: 67%;
    width: 100%;
    padding-top: 206px;
    margin-top: 84px;
}
}



}






/*::::  FORM  STYLES  ::::*/

.form_main {
    padding-bottom: 100px;
}


/*:::: SECCION FORMULARIO CONTACTENOS::::*/

.title_contactanos{
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;
}


.btn-form{
    background: #386F85;
    color: white;
    width: 100%;
}





@media (min-width: 768px) {	

/*:::: NOSOTROS IMG PRINCIPAL ::::*/

.main_img_contactenos {
    background: url(../../img/contactenos/contacto.svg) no-repeat center top;
    background-size: cover;
    height: 87%;
    width: 100%;
    padding-top: 550px;
    margin-top: 0px;

}


}


/*:::: SECCION FORMULARIO CONTACTENOS::::*/

.title_contactanos{
    width: 82%;
    padding: 80px 0 150px 0;
    margin-left: 50px;
}


.btn-form{
    background: #386F85;
    color: white;
    width: 83%;
}

